// Style: Home (Main)
[data-page="home"] {
	max-width: 50rem;
	margin: 5rem auto;
	.tt-headline {
		font-size: 3rem;
		font-weight: 900;;
	}
	.tt-paragraph {
		font-size: 1.25rem;
		margin-bottom: 2rem;
	}
	.tt-task-list {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}
}
